html {
    overflow: hidden;
    background-color: black;
}

canvas {
    background-color: black;
}
.button{
    text-align: center;
    align-self: center;
    width: auto;
    height: auto;
    justify-content: center;
    padding: 200px, 200px;
    display: block;
    border:gray;
    border-radius: 9px;
    border-color: gray;
    color: black;
    display: inline-block;
    background-color: lightgray;
    font-size: large ;
    float: left, bottom;
}